.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px;
    align-items: center;
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img {
    cursor: pointer;
}
.nav-logo p {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    cursor: pointer;
}
.nav-menu hr {
    display: none;
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 15px;
    background-color: red;
}
.nav-menu li:hover hr {
    display: block;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-login-cart img {
    cursor: pointer;
}
.nav-login-cart button {
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    padding: 18px 36px;
    transition: opacity 0.2;
    cursor: pointer;
}
.nav-login-cart button:hover {
    opacity: 0.9;
}
.nav-login-cart button:active {
    background-color: rgb(219, 87, 64)
}

.nav-cart-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    width: 20px;
    height: 20px;
    margin-top: -35px;
    margin-left: -45px;
}